
/* Your CSS Code here. */
body {
    font-family: Arial, sans-serif;
    background-color: #f8fffe;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.questions {
    background-color: #f8fffe;
    height: 50px;
    margin-top: 20px;
    padding: 15px;
	max-width: 600px;
    border-left: 8px solid green;
}
